<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>考勤计算</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap-select.min.css">
    <script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="/lib/WdatePicker.js" type="text/javascript"></script>
    <script src="/lib/defaults-zh_CN.js" type="text/javascript"></script>
</head>
<script>

    $(function () {
        window.parent.document.getElementById('coverbehidepage').style.display = "none";
        window.parent.document.getElementById('content').style.display = "block";
        window.parent.document.getElementById('contentnew').style.display = "none";
        var flag = $("#flag").val();
        var flag1 = $("#flag1").val();
        var flag2 = $("#flag2").val();
        var flag3 = $("#flag3").val();
        var flag5 = $("#flag5").val();
        var flag6 = $("#flag6").val();
        var flag7 = $("#flag7").val();
        var flag8 = $("#flag88").val();
        var errorMessage = $("#errorMessage").val();
        if (flag == 1) {
            $("#errormessagee").show();
            var errormessagediv = document.getElementById("errormessagee");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;计算成功!";
            errormessagediv.style.color = "green";
        }
        if (flag1 == 1) {
            $("#errormessage1").show();
            var errormessagediv = document.getElementById("errormessage1");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;数据导入成功!";
            errormessagediv.style.color = "green";
        }
        if (flag1.includes("重复")) {
            $("#errormessage1").show();
            var errormessagediv = document.getElementById("errormessage1");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;" + flag1;
            errormessagediv.style.color = "red";
        }

        if (flag1.includes("失败")) {
            $("#errormessage1").show();
            var errormessagediv = document.getElementById("errormessage1");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;" + flag1;
            errormessagediv.style.color = "red";
        }

        if (flag1 == 10) {
            $("#errormessage1").show();
            var errormessagediv = document.getElementById("errormessage1");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;数据全导入系统成功,可进入相应模块查看!";
            errormessagediv.style.color = "green";
        }

        if (flag2.length > 1) {
            $("#errormessagee").show();
            var errormessagediv = document.getElementById("errormessagee");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;计算成功!文件名为:" + flag2;
            errormessagediv.style.color = "green";
        }

        if (flag3.length >= 1) {
            $("#errormessagee3").show();
            var errormessagediv = document.getElementById("errormessagee3");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;保存成功!";
            errormessagediv.style.color = "green";
        }
        if (flag3.length >= 1) {
            $("#errormessagee3").show();
            var errormessagediv = document.getElementById("errormessagee3");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;保存成功!";
            errormessagediv.style.color = "green";
        }
        if (flag5.length > 2) {
            $("#errormessage5").show();
            var errormessagediv = document.getElementById("errormessage5");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;重复数据:" + flag5;
            errormessagediv.style.color = "red";
        } else if (flag5 == 10) {
            $("#errormessage5").show();
            var errormessagediv = document.getElementById("errormessage5");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;保存成功";
            errormessagediv.style.color = "green";
        } else if (flag6 == 11) {
            $("#errormessage6").show();
            var errormessagediv = document.getElementById("errormessage6");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;保存成功";
            errormessagediv.style.color = "green";
        } else if (flag7 == 12) {
            $("#errormessage7").show();
            var errormessagediv = document.getElementById("errormessage7");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;保存成功";
            errormessagediv.style.color = "green";
        }

        if (errorMessage.length > 2) {
            $("#errormessagee").show();
            var errormessagediv = document.getElementById("errormessagee");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;重复数据:" + errorMessage;
            errormessagediv.style.color = "red";
        }

        if (flag8.length > 2) {
            $("#errormessagee88").show();
            var errormessagediv = document.getElementById("errormessagee88");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;" + flag8;
            errormessagediv.style.color = "red";
        }
    });

    function delCookie(name) {
        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval = getCookie(name);
        if (cval != null)
            document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString() + ";path=/";
    }

    // 定义一个函数，用来读取特定的cookie值。
    function getCookie(cookie_name) {
        var allcookies = document.cookie;
        //索引长度，开始索引的位置
        var cookie_pos = allcookies.indexOf(cookie_name);

        // 如果找到了索引，就代表cookie存在,否则不存在
        if (cookie_pos != -1) {
            // 把cookie_pos放在值的开始，只要给值加1即可
            //计算取cookie值得开始索引，加的1为“=”
            cookie_pos = cookie_pos + cookie_name.length + 1;
            //计算取cookie值得结束索引
            var cookie_end = allcookies.indexOf(";", cookie_pos);

            if (cookie_end == -1) {
                cookie_end = allcookies.length;

            }
            //得到想要的cookie的值
            var value = unescape(allcookies.substring(cookie_pos, cookie_end));
        }
        return value;
    }

    function listenEnd() {//定时监听
        var loop = setInterval(function () {
            var cookievalue = getCookie("downloadstatus");
            // alert(cookievalue)
            if (cookievalue.trim().length > 0) {
                clearInterval(loop);//停止定时任务
                window.parent.document.getElementById('coverbehidepage').style.display = "none";
            }
        }, 1000);//单位毫秒  注意：如果导出页面很慢时，建议循环时间段稍长一点
    }

    function inDataToMysql() {
        var originFile = $("#originFile1").val();
        if (originFile.trim().length > 0) {
            $("#errormessage1").show();
            var errormessagediv1 = document.getElementById("errormessage1");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;导入中,请稍等!";
            errormessagediv1.style.color = "green";
            var form = document.getElementById('inData');
            form.submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";

        } else if (originFile.trim().length <= 0) {
            $("#errormessage1").show();
            var errormessagediv1 = document.getElementById("errormessage1");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法计算!";
            errormessagediv1.style.color = "red";
        }
    }

    function inDataToMysq5() {
        var originFile = $("#originFile5").val();
        if (originFile.trim().length > 0) {
            $("#errormessage5").show();
            var errormessagediv1 = document.getElementById("errormessage5");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;导入中,请稍等!";
            errormessagediv1.style.color = "green";
            var form = document.getElementById('inData5');
            form.submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";

        } else if (originFile.trim().length <= 0) {
            $("#errormessage5").show();
            var errormessagediv1 = document.getElementById("errormessage5");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法进行下一步操作!";
            errormessagediv1.style.color = "red";
        }
    }


    function inDataToMysq6() {
        var originFile = $("#originFile6").val();
        if (originFile.trim().length > 0) {
            $("#errormessage6").show();
            var errormessagediv1 = document.getElementById("errormessage6");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;导入中,请稍等!";
            errormessagediv1.style.color = "green";
            var form = document.getElementById('inData6');
            form.submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";

        } else if (originFile.trim().length <= 0) {
            $("#errormessage6").show();
            var errormessagediv1 = document.getElementById("errormessage6");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法进行下一步操作!";
            errormessagediv1.style.color = "red";
        }
    }


    function inDataToMysq7() {
        var originFile = $("#originFile7").val();
        if (originFile.trim().length > 0) {
            $("#errormessage7").show();
            var errormessagediv1 = document.getElementById("errormessage7");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;导入中,请稍等!";
            errormessagediv1.style.color = "green";
            var form = document.getElementById('inData7');
            form.submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";

        } else if (originFile.trim().length <= 0) {
            $("#errormessage7").show();
            var errormessagediv1 = document.getElementById("errormessage7");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法进行下一步操作!";
            errormessagediv1.style.color = "red";
        }
    }

    function inDataToMysq3() {
        var originFile = $("#originFile3").val();
        if (originFile.trim().length > 0) {
            $("#errormessage3").show();
            var errormessagediv1 = document.getElementById("errormessage3");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;导入中,请稍等!";
            errormessagediv1.style.color = "green";
            var form = document.getElementById('inData3');
            form.submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";

        } else if (originFile.trim().length <= 0) {
            $("#errormessage3").show();
            var errormessagediv1 = document.getElementById("errormessage3");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法进行下一步操作!";
            errormessagediv1.style.color = "red";
        }
    }


    function computeWorkEmpHours() {
        delCookie("downloadstatus");
        var originFile = $("#originFile").val();
        // var filelocat = $("#filelocat").val();
        // if (filelocat.trim().length <= 0) {
        //     $("#filelocat").val($("#orginLcation").val());
        // }
        if (originFile.trim().length > 0) {
            $("#errormessagee").show();
            var errormessagediv = document.getElementById("errormessagee");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;计算中,请稍等!";
            errormessagediv.style.color = "green";
            $('form[id=computeForm]').attr('action', '/person/computeWorkEmpHours');
            $("#computeForm").submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";
            listenEnd();
        } else if (originFile.trim().length <= 0) {
            $("#errormessagee").show();
            var errormessagediv = document.getElementById("errormessagee");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法计算!";
            errormessagediv.style.color = "red";
        }
    }

    function computeWorkTable() {
        delCookie("downloadstatus");
        var originFile = $("#originFile").val();
        // var filelocat = $("#filelocat").val();
        // if (filelocat.trim().length <= 0) {
        //     $("#filelocat").val($("#orginLcation").val());
        // }
        if (originFile.trim().length > 0) {
            $("#errormessagee").show();
            var errormessagediv = document.getElementById("errormessagee");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;计算中,请稍等!";
            errormessagediv.style.color = "green";
            $('form[id=computeForm]').attr('action', '/person/computeWorkTable');
            $("#computeForm").submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";
            listenEnd();
        } else if (originFile.trim().length <= 0) {
            $("#errormessagee").show();
            var errormessagediv = document.getElementById("errormessagee");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法计算!";
            errormessagediv.style.color = "red";
        }
    }

    String.prototype.trim = function () {
        return this.replace(/(^\s*)|(\s*$)/g, "");
    }



    function commitDataInSql() {
        var originFile = $("#originFile8").val();
        if (originFile.trim().length > 0) {
            $("#errormessagee88").show();
            var errormessagediv1 = document.getElementById("errormessagee88");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;导入中,请稍等!";
            errormessagediv1.style.color = "green";
            var form = document.getElementById('computeForm8');
            form.submit();
            window.parent.document.getElementById('coverbehidepage').style.display = "block";

        } else if (originFile.trim().length <= 0) {
            $("#errormessagee88").show();
            var errormessagediv1 = document.getElementById("errormessagee88");
            errormessagediv1.innerHTML = "&nbsp;&nbsp;&nbsp;您还没有上传表格，无法进行下一步操作!";
            errormessagediv1.style.color = "red";
        }
    }
</script>
<style type="text/css">
    a {
        white-space: nowrap;
    }

    table tr td {
        white-space: nowrap;
    }

</style>
<body>

<div id='app'>

    <form id="computeForm8" action="/person/outDataInSql" th:method="post" enctype="multipart/form-data">
        <input type="hidden" id="flag8" th:value="${flag8}">
        <input type="hidden" id="flag88" th:value="${flag88}">
        <input type="hidden" id="errorMessage88" th:value="${errorMessage}">
        <input type="hidden" id="orginLcation88" th:value="compute.fileLocation">
        <div>
            <div class="panel-heading" style="background-color:lightsteelblue">
                <h3 class="panel-title">数据导入<font color="#00008b" size="2px">(仅支持xls格式)</font></h3>
            </div>
            <div class="panel-body form-inline">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td><label>文件选择:</label></td>
                        <td>
                            <input type="file" th:name="file8" id="originFile8">
                        </td>
                    </tr>
                    <tr>
                        <td><label>动作：</label></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="commitDataInSql()">提交</button>

                        </td>
                    </tr>

                    <tr>
                        <td><label>结果提示：</label></td>
                        <td>
                            <div style="display: none;" id="errormessagee88">

                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </form>

    <form id="inData" th:action="@{/person/dataInMysql}" th:method="post" enctype="multipart/form-data">
        <input type="hidden" id="flag1" th:value="${flag1}">
        <div>
            <div class="panel-heading" style="background-color:lightsteelblue">
                <h3 class="panel-title">人事员工数据导入<font color="#00008b" size="2px">(仅支持xls格式)</font></h3>
            </div>
            <div class="panel-body form-inline">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td><label>文件选择:</label></td>
                        <td>
                            <input type="file" th:name="file1" id="originFile1">
                        </td>
                    </tr>
                    <tr>
                        <td><label>动作：</label></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="inDataToMysql()">导入执行</button>
                        </td>
                    </tr>

                    <tr>
                        <td><label>结果提示：</label></td>
                        <td>
                            <div style="display: none;" id="errormessage1">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <font size="2px" color="blue">
                                *数据导入操作，将会清空所有人事信息(除请假单，排班设置，考勤设置).
                                初次使用建议使用数据导入。
                                二次使用建议使用手工录入。
                            </font>
                        </td>

                    </tr>

                </table>
            </div>
        </div>
    </form>

    <form id="inData6" th:action="@{/person/dataInMysqlsurance}" th:method="post" enctype="multipart/form-data">
        <input type="hidden" id="flag6" th:value="${flag6}">
        <div>
            <div class="panel-heading" style="background-color:lightsteelblue">
                <h3 class="panel-title">保险数据导入<font color="#00008b" size="2px">(仅支持xls格式)</font></h3>
            </div>
            <div class="panel-body form-inline">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td><label>文件选择:</label></td>
                        <td>
                            <input type="file" th:name="file6" id="originFile6">
                        </td>
                    </tr>
                    <tr>
                        <td><label>动作：</label></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="inDataToMysq6()">导入执行</button>
                        </td>
                    </tr>

                    <tr>
                        <td><label>结果提示：</label></td>
                        <td>
                            <div style="display: none;" id="errormessage6">

                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </form>

    <form id="inData7" th:action="@{/person/dataInMysqlAccuFund}" th:method="post" enctype="multipart/form-data">
        <input type="hidden" id="flag7" th:value="${flag7}">
        <div>
            <div class="panel-heading" style="background-color:lightsteelblue">
                <h3 class="panel-title">公积金数据导入<font color="#00008b" size="2px">(仅支持xls格式)</font></h3>
            </div>
            <div class="panel-body form-inline">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td><label>文件选择:</label></td>
                        <td>
                            <input type="file" th:name="file7" id="originFile7">
                        </td>
                    </tr>
                    <tr>
                        <td><label>动作：</label></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="inDataToMysq7()">导入执行</button>
                        </td>
                    </tr>

                    <tr>
                        <td><label>结果提示：</label></td>
                        <td>
                            <div style="display: none;" id="errormessage7">

                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </form>


    <form id="computeForm" action="/person/computeWorkTable" th:method="post" enctype="multipart/form-data">
        <input type="hidden" id="flag" th:value="${flag}">
        <input type="hidden" id="flag2" th:value="${flag2}">
        <input type="hidden" id="errorMessage" th:value="${errorMessage}">
        <input type="hidden" id="orginLcation" th:value="compute.fileLocation">
        <div>
            <div class="panel-heading" style="background-color:lightsteelblue">
                <h3 class="panel-title">考勤计算<font color="#00008b" size="2px">(仅支持xls格式)</font></h3>
            </div>
            <div class="panel-body form-inline">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td><label>文件选择:</label></td>
                        <td>
                            <input type="file" th:name="file" id="originFile">
                        </td>
                    </tr>
                    <!--<tr>-->
                    <!--<td><label>计算结果存放至：</label></td>-->
                    <!--<td>-->
                    <!--<input type="text" class="form-control"  th:name="fileLocation" th:value="${compute.fileLocation}" style="width: 500px"-->
                    <!--id="filelocat">-->
                    <!--</td>-->
                    <!--</tr>-->
                    <tr>
                        <td><label>动作：</label></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="computeWorkTable()">打卡计算</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary" onclick="computeWorkEmpHours()">工时计算</button>

                        </td>
                    </tr>

                    <tr>
                        <td><label>结果提示：</label></td>
                        <td>
                            <div style="display: none;" id="errormessagee">

                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </form>

    <form id="inData3" th:action="@{/person/dataInMysqlZK}" th:method="post" enctype="multipart/form-data">
        <input type="hidden" id="flag3" th:value="${flag3}">
        <div>
            <div class="panel-heading" style="background-color:lightsteelblue">
                <h3 class="panel-title">考勤机数据导入<font color="#00008b" size="2px">(仅支持xls格式)</font></h3>
            </div>
            <div class="panel-body form-inline">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td><label>文件选择:</label></td>
                        <td>
                            <input type="file" th:name="file3" multiple id="originFile3">
                        </td>
                    </tr>
                    <tr>
                        <td><label>动作：</label></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="inDataToMysq3()">导入执行</button>
                        </td>
                    </tr>

                    <tr>
                        <td><label>结果提示：</label></td>
                        <td>
                            <div style="display: none;" id="errormessage3">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <font size="2px" color="blue">
                                *数据导入操作，将会清空所有考勤机绑定记录.
                                初次使用建议使用数据导入。
                                二次使用建议使用手工录入。
                            </font>
                        </td>

                    </tr>

                </table>
            </div>
        </div>
    </form>


    <form id="inData5" th:action="@{/person/dataInMysqlOut}" th:method="post" enctype="multipart/form-data">
        <input type="hidden" id="flag5" th:value="${flag5}">
        <div>
            <div class="panel-heading" style="background-color:lightsteelblue">
                <h3 class="panel-title">外出数据导入<font color="#00008b" size="2px">(仅支持xls格式)</font></h3>
            </div>
            <div class="panel-body form-inline">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <td><label>文件选择:</label></td>
                        <td>
                            <input type="file" th:name="file5" id="originFile5">
                        </td>
                    </tr>
                    <tr>
                        <td><label>动作：</label></td>
                        <td>
                            <button type="button" class="btn btn-primary" onclick="inDataToMysq5()">导入执行</button>
                        </td>
                    </tr>

                    <tr>
                        <td><label>结果提示：</label></td>
                        <td>
                            <div style="display: none;" id="errormessage5">

                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </form>





</div>

</body>
</html>