<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>客户单号明细</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
    <script src="/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap-select.min.js"></script>
    <script src="/lib/WdatePicker.js" type="text/javascript"></script>
    <script src="/lib/defaults-zh_CN.js" type="text/javascript"></script>
</head>
<style type="text/css">
    td, th {
        white-space: nowrap;
    }

    th {
        font-size: 11px;
    }
</style>
<script>

    $(function () {
        window.parent.document.getElementById('content').style.display = "block";
        window.parent.document.getElementById('contentnew').style.display = "none";
        document.getElementById("coverbehidepage").style.display = "none";
        var flag = $("#flag").val();
        var aflag = eval(flag)
        if (aflag == 1) {
            $("#errormessage").show();
            var errormessagediv = document.getElementById("errormessage");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;添加成功!";
            errormessagediv.style.color = "green";
        } else if (aflag == 2) {
            $("#errormessage").show();
            var errormessagediv = document.getElementById("errormessage");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;删除成功!";
            errormessagediv.style.color = "green";
        } else if (aflag == 3) {
            $("#errormessage").show();
            var errormessagediv = document.getElementById("errormessage");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;更改成功!";
            errormessagediv.style.color = "green";
        } else if (aflag == 4) {
            $("#errormessage").show();
            var errormessagediv = document.getElementById("errormessage");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;查询成功!";
            errormessagediv.style.color = "green";
        } else if (aflag == 5) {
            $("#errormessage").show();
            var errormessagediv = document.getElementById("errormessage");
            errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;客户单号已存在!";
            errormessagediv.style.color = "red";
        }
    });

    function goPageone() {
        $("#n_currentPage").val(1);
        queryOrderHeadByCondition();
    }

    function goPrePage() {
        var currentpage = $("#_tp").val();
        $("#n_currentPage").val(currentpage * 1 - 1 * 1);
        queryOrderHeadByCondition();
    }

    function goAftPage() {
        var currentpage = $("#_tp").val();
        $("#n_currentPage").val(currentpage * 1 + 1 * 1);
        queryOrderHeadByCondition();
    }

    function goMaxPage() {
        $("#n_currentPage").val($("#maxPage").val());
        queryOrderHeadByCondition();
    }

    function goPriPageone() {
        $("#n_currentPage").val(1);
        queryOrderHeadByCondition();
    }

    function isNull(arg1) {
        if (arg1 == "null" || arg1 == null || arg1 == 0 || arg1 == "0") {
            return "";
        }
        return arg1;
        //return !arg1 && arg1!==0 && typeof arg1!=="boolean"?true:false;
    }

    function goPage2() {
        var tp = document.getElementById("_tp").value;//currentPage
        var max = $("#maxPage").val(); //maxPage
        tp = tp.trim();
        var r = /^\+?[0-9][0-9]*$/;
        if (!(r.test(tp))) {
            alert("页数输入有误，请重新输入!");
            $("#_tp").val(max);
            return false;
        } else if (parseInt(tp) == 0) {
            alert("页数必须大于0!");
            $("#_tp").val(max);
            return false;
        } else if (parseInt(tp) > parseInt(max)) {
            alert("不能大于总页数!");
            $("#_tp").val(max);
            return false;
        } else {
            $("#n_currentPage").val(tp);
            // document.forms["form0"].submit();
            queryOrderHeadByCondition();
        }
    }

    function goPriAftPage() {
        var currentpage = $("#_tp").val();
        $("#n_currentPage").val(currentpage * 1 + 1 * 1);
        queryOrderHeadByCondition();
    }

    function goPriMaxPage() {
        $("#n_currentPage").val($("#maxPage").val());
        queryOrderHeadByCondition();
    }

    function goPriPrePage() {
        var currentpage = $("#_tp").val();
        $("#n_currentPage").val(currentpage * 1 - 1 * 1);
        queryOrderHeadByCondition();
    }

    var currentPage; //当前页
    var totalPage; //总多少页
    var totaldata; //总共多少记录
    var pageSize;//当前每页多少条
    var sortMethod;
    var sortByName;


    function queryOrderHeadByCondition() {
        var currentpage = $("#n_currentPage").val();
        window.parent.document.getElementById('coverbehidepage').style.display = "block";
        var formData = new FormData();
        formData.append('customerNoList', $("#customerNo").val());
        formData.append('getOrderDateStr', $("#getOrderDate").val());
        formData.append('orderAreaList', $("#orderArea").val());
        formData.append('salorEmpList', $("#salorEmp").val());
        formData.append('makerList', $("#maker").val());
        formData.append('deliveryOrderDateStr', $("#deliveryOrderDate").val());
        formData.append('sortMethod', sortMethod);
        formData.append('sortByName', sortByName);
        formData.append('currentPage', currentpage);
        $.ajax({
            data: formData,
            type: "POST",
            url: "/design/queryOrderHeadByCondition",
            async: true,
            cache: false,
            contentType: false,
            processData: false,
            success: function (msg) {
                $("#errormessage").show();
                var errormessagediv = document.getElementById("errormessage");
                errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;查询成功!";
                errormessagediv.style.color = "green";
                var data = eval(msg);//将msg化为数;
                var tr = "";
                var image01 = $("#image01");
                var image02 = $("#image02");
                var image03 = $("#image03");
                var image04 = $("#image04");
                var maxpageid = $("#maxPage");
                var n_currentPage = $("#n_currentPage");
                var inputpage = $("#_tp");
                image01.html("");
                image02.html("");
                image03.html("");
                image04.html("");
                var td = "";
                var td2 = "";
                var tbody = $("#tabletblody");
                tbody.html("");
                if (data != null && data != "") {
                    $("#nodatadiv").hide();
                    $("#showdiv").show();
                    currentPage = data[0].currentPage; //当前页
                    totalPage = data[0].maxPage; //总多少页
                    totaldata = data[0].recordCount; //总共多少记录
                    pageSize = data[0].pageSize;
                    maxpageid.val(totalPage);
                    n_currentPage.val(currentPage);
                    inputpage.val(currentPage);
                    $.each(data, function (num) {
                        tr = $("<tr id='" + data[num].id + "' ondblclick=\"showOrderItemByOrderNo('"+data[num].customerNo+"')\"></tr>");
                        tr.append("<td>" + ((num + 1) + ((n_currentPage.val() - 1) * pageSize)) + "</td>");
                        tr.append("<td>" + isNull(data[num].orderMaker) + "</td>");
                        tr.append("<td>" + isNull(data[num].customerNo) + "</td>");
                        tr.append("<td>" + isNull(data[num].getOrderDateStr) + "</td>");
                        tr.append("<td>" + isNull(data[num].orderArea) + "</td>");
                        tr.append("<td>" + isNull(data[num].salorEmpStr) + "</td>");
                        tr.append("<td>" + isNull(data[num].deliveryOrderDateStr) + "</td>");
                        tr.append("<td>" + isNull(data[num].remark) + "</td>");
                        var td = "<td>";
                        td += " <a class=\"btn btn-xs btn-primary\" \n" +
                            "onclick=\"updateOrderItemByheadId(this,'" + data[num].id + "');\">编辑</a>\n" +
                            "  <a class=\"btn btn-xs btn-primary\"\n" +
                            " onclick=\"deleteOrderItemByheadId('" + data[num].id + "');\">删除</a> " +
                            " <a class=\"btn btn-xs btn-primary\"\n" +
                            " onclick=\"transferDataToPDFFile('" + data[num].id + "');\">PDF打印</a>" +
                            "</td>";
                        tr.append(td);
                        tr.appendTo(tbody);
                    });
                    $("#currentpagespan").html(currentPage);
                    $("#maxpagespan").html(totalPage);
                    $("#recordcountspan").html(totaldata);
                    if (currentPage > 1) {
                        var imange01str = '<img src="/images/page/sy-2.jpg"  onClick="goPriPageone()"  align="middle" border="0" style="width: 20px; height: 20px; vertical-align: middle"/> </a>';
                        imange01str += '<img src="/images/page/syy-2.jpg" onClick="goPriPrePage()" align="middle" border="0" style="width: 20px; height: 20px; vertical-align: middle"/>&nbsp;&nbsp; </a>';
                        image01.html(imange01str);
                    } else {
                        image01.html("");
                    }
                    if (currentPage <= 1) {
                        var image02str = '<img src="/images/page/l-sy-2.jpg" align="middle" border="0px"';
                        image02str += ' style="width: 20px; height: 20px; vertical-align: middle"/>';
                        image02str += ' <img src="/images/page/l-syy-2.jpg" align="middle" border="0px"';
                        image02str += ' style="width: 20px; height: 20px; vertical-align: middle"/>&nbsp;&nbsp;';
                        image02.html(image02str);
                    } else {
                        image02.html("");
                    }
                    if (currentPage < totalPage) {
                        var imange03str = '<img src="/images/page/xyy-2.jpg" onClick="goPriAftPage()" align="middle" border="0" style="width: 20px; height: 20px; vertical-align: middle"/> </a>';
                        imange03str += '<img src="/images/page/my-2.jpg" onClick="goPriMaxPage()" align="middle" border="0" style="width: 20px; height: 20px; vertical-align: middle"/>&nbsp;&nbsp; </a>';
                        image03.html(imange03str);
                    } else {
                        image03.html("");
                    }
                    if (currentPage >= totalPage) {
                        var image04str = '<img src="/images/page/l-xyy-1.jpg" align="middle" border="0px"';
                        image04str += ' style="width: 20px; height: 20px; vertical-align: middle"/>';
                        image04str += ' <img src="/images/page/l-my-1.jpg" align="middle" border="0px"';
                        image04str += ' style="width: 20px; height: 20px; vertical-align: middle"/>&nbsp;&nbsp;';
                        image04.html(image04str);
                    } else {
                        image04.html("");
                    }
                } else {
                    $("#nodatadiv").show();
                    $("#showdiv").hide();
                }
                window.parent.document.getElementById('coverbehidepage').style.display = "none";
            },
            error: function (msg) {
                window.parent.document.getElementById('coverbehidepage').style.display = "none";
                $("#errormessage").show();
                var errormessagediv = document.getElementById("errormessage");
                errormessagediv.innerHTML = "&nbsp;&nbsp;&nbsp;系统发生错误!";
                errormessagediv.style.color = "red";
            }

        });
    }

    function sortByAsc(titlename) {
        sortMethod = 'asc';
        sortByName = titlename;
        queryEmployeeSalaryByCondition();
    }

    function sortByDesc(titlename) {
        sortMethod = 'desc';
        sortByName = titlename;
        queryEmployeeSalaryByCondition();
    }

    var len;
    var data;


    function Trim(str) {
        return str.replace(/(^\s*)|(\s*$)/g, "");
    }


    function checkOrderNo(str) {
        $("#errormessage").hide();
        var newstr = str.value;
        if (Trim(newstr) != "") {
            var reg = new RegExp(/^[A-Z]{5}[0-9]{8}[A-Z]{2}[0-9]{2}$/g);
            if (!reg.test(str.value)) {
                $("#errormessage").show();
                var errormessagediv = document.getElementById("errormessage");
                errormessagediv.innerHTML = "客户单号请检查,示例如:COSUN20190112WW01";
                errormessagediv.style.color = "red";
                $("#orderno").val("");
                return false;
            }
        }
    }

    function updateOrderItemByheadId(obj, id) {
        var empList = $("#salorList").val();
        data = eval("(" + empList + ")");
        var customerNo = $(obj).parent().parent().find("td").eq(2).text();
        var getOrderDate = $(obj).parent().parent().find("td").eq(3).text();
        var area = $(obj).parent().parent().find("td").eq(4).text();
        var salor = $(obj).parent().parent().find("td").eq(5).text();
        var deliverDate = $(obj).parent().parent().find("td").eq(6).text();
        var remark = $(obj).parent().parent().find("td").eq(7).text();

        $(obj).parent().parent().find("td").eq(2).html("<input type=\"text\" id=\"orderno\" name=\"orderNo\" value='" + customerNo + "' onblur=\"checkOrderNo(this)\" class=\"form-control\">")
        $(obj).parent().parent().find("td").eq(3).html("<input type=\"text\" " +
            "               style=\"width:160px;height: 34px;text-align: center\" class=\"Wdate\" " +
            "  id=\'getOrderDate\'" +
            " value='" + getOrderDate + "'" +
            "  onClick=\"WdatePicker({dateFmt:'yyyy-MM-dd'})\"/>")
        $(obj).parent().parent().find("td").eq(4).html("<input type=\"text\" value='" + area + "' class=\"form-control\">")
        var td = "<select id=\"name\"  class=\"selectpicker show-tick form-control\"\n" +
            "   data-live-search=\"true\" data-actions-box=\"true\"\n" +
            "   data-selected-text-format=\"count > 1\">\n";
        for (var a = 0; a < data.length; a++) {
            if (data[a].name == salor) {
                td += "  <option selected='selected' value=\"" + data[a].empNo + "\">" + data[a].name + "</option>\n";
            } else {
                td += "  <option value=\"" + data[a].empNo + "\">" + data[a].name + "</option>\n";
            }
        }
        td += "  </select> ";
        $(obj).parent().parent().find("td").eq(5).html(td);
        $(obj).parent().parent().find("td").eq(6).html("<input type=\"text\" " +
            "               style=\"width:160px;height: 34px;text-align: center\" class=\"Wdate\" " +
            " value='" + deliverDate + "'" +
            "  onClick=\"WdatePicker({dateFmt:'yyyy-MM-dd'})\"/>")

        $(obj).parent().parent().find("td").eq(7).html("<input type=\"text\"  value='" + remark + "' class=\"form-control\">")
        $(obj).parent().parent().find("td").eq(8).html("<a id=\"savebutton\"\n" +
            "    href=\"javascript:void(0);\" onclick=\"saveSJHeadDateToMysql(this," + id + ")\">保存</a>" +
            " <a href=\"javascript:void(0);\"\n" +
            "    onclick=\"deleteTRA(this," + len + "," + id + ");\">删除</a>");


        $('.selectpicker').selectpicker('refresh');

    }

    function addSJHead() {
        var empList = $("#salorList").val();
        data = eval("(" + empList + ")");
        len = $("#tabletblody > tr").length;
        var userName = $("#userName").val();
        len++;
        var tbody = $("#tabletblody");
        var tr = $("<tr id='tr" + len + "'></tr>");

        tr.append("<td id='tr" + len + "'>" + len + "</td>");
        tr.append("<td><input type=\"text\" class=\"form-control\" disabled=\"true\" type=\"hide\" value='" + userName + "' ></td>");
        tr.append("<td><input type=\"text\" id=\"orderno\" name=\"orderNo\" onblur=\"checkOrderNo(this)\" class=\"form-control\"></td>");
        tr.append("<td> <input type=\"text\" " +
            "               style=\"width:160px;height: 34px;text-align: center\" class=\"Wdate\" " +
            "  id=\'getOrderDate\'" +
            "  onClick=\"WdatePicker({dateFmt:'yyyy-MM-dd'})\"/></td>");
        tr.append("<td><input type=\"text\" class=\"form-control\"></td>");

        var td;
        td = "<td><select id=\"name\"  class=\"selectpicker show-tick form-control\"\n" +
            "   data-live-search=\"true\" data-actions-box=\"true\"\n" +
            "   data-selected-text-format=\"count > 1\">\n";
        for (var a = 0; a < data.length; a++) {
            td += "  <option value=\"" + data[a].empNo + "\">" + data[a].name + "</option>\n";
        }
        td += "  </select></td> ";
        tr.append(td);
        tr.append("<td> <input type=\"text\" " +
            "               style=\"width:160px;height: 34px;text-align: center\" class=\"Wdate\" " +
            "  id=\'deliveryDate\'" +
            "  onClick=\"WdatePicker({dateFmt:'yyyy-MM-dd'})\"/></td>");

        tr.append("<td><input type='text' placeholder='备注选填'></td>")
        tr.append("<td><a id=\"savebutton\"\n" +
            "    href=\"javascript:void(0);\" onclick=\"saveSJHeadDateToMysql(this,0)\">保存</a>" +
            " <a href=\"javascript:void(0);\"\n" +
            "    onclick=\"deleteTRA(this," + len + ",0);\">删除</a></td>");
        tr.appendTo(tbody);
        $('.selectpicker').selectpicker('refresh');
    }

    function deleteTRA(obj, len, id) {
        obj.parentElement.parentElement.remove();
        len--;
        if (id > 0) {
            deleteOrderItemByheadId(id);
        }
    }

    function deleteOrderItemByheadId(id) {
        window.location.href = "/design/deleteOrderItemByheadId?id=" + id;
    }

    function saveSJHeadDateToMysql(obj, id) {
        $("#errormessage").hide();
        var customerNo = $(obj).parent().parent().find("td").eq(2).find("input").eq(0).val();
        var getOrderDateStr = $(obj).parent().parent().find("td").eq(3).find("input").eq(0).val();
        var orderArea = $(obj).parent().parent().find("td").eq(4).find("input").eq(0).val();
        var salorEmp = $(obj).parent().parent().find("td").eq(5).find("select").eq(0).val();
        var deliveryOrderDate = $(obj).parent().parent().find("td").eq(6).find("input").eq(0).val();
        var remark = $(obj).parent().parent().find("td").eq(7).find("input").eq(0).val();

        if (customerNo.trim().length <= 0) {
            $("#errormessage").show();
            var errormessagediv = document.getElementById("errormessage");
            errormessagediv.innerHTML = "客户单号不能为空!";
            errormessagediv.style.color = "red";
            return false;
        }
        window.location.href = "/design/saveSJHeadDateToMysql?customerNo=" + customerNo + "&getOrderDateStr="
            + getOrderDateStr + "&orderArea=" + orderArea + "&salorEmp=" + salorEmp + "&deliveryOrderDateStr=" + deliveryOrderDate
            + "&remark=" + remark + "&id=" + id;


    }

    function importSJHead() {
    }

    function showOrderItemByOrderNo(customerNo) {
        console.log(customerNo)
        window.location.href = "/design/toHeadProduct?customerNo="+customerNo;
    }

</script>
<div>
    <div id="coverbehidepage"></div>
    <div id="coverbehidepagetwo"></div>
    <div id="coverbehidepagethree"></div>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#compreAttendRecord" data-toggle="tab">客户单号</a>
        </li>
        <li>
            <a th:href="@{/design/toHeadProduct}">商品品号</a>
        </li>
        <li>
            <a th:href="@{/design/toHeadProductItem}">材料品号</a>
        </li>

    </ul>
    <br>
    <p>

    <div id='compreAttendRecord'>
        <div id='app'>
            <form>
                <input type="hidden" id="flag" th:value="${flag}">
                <input type="hidden" id="userName" th:value="${userName}">
                <input type="hidden" id="salorList" th:value="${salorEmpList1}">
                <input type="hidden" id="maxPage" th:value="${orderHead.maxPage}">
                <input type="hidden" id="n_currentPage" name="view.currentPage" th:value="${orderHead.currentPage}"/>


                <div class="panel panel-primary">
                    <div class="panel-body form-inline">
                        <table width="100%">
                            <tr>
                                <td style="text-align: right">
                                    <label>客户单号：</label>
                                </td>
                                <td>
                                    <label>
                                        <select id="customerNo" multiple
                                                class="selectpicker show-tick form-control"
                                                data-live-search="true" data-actions-box="true"
                                                data-selected-text-format="count > 1">
                                            　　
                                            <option th:each="c:${orderNoList}" th:value="${c}"
                                                    th:text="${c}"></option>
                                        </select>
                                    </label>
                                </td>

                                <td>
                                    <label>接单时间：</label>
                                </td>
                                <td>
                                    <input type="text" id="getOrderDate"
                                           style="width:130px;height: 34px;text-align: center"
                                           class="Wdate"
                                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>

                                </td>

                                <td style="text-align: right">
                                    <label>客户国家/地区：</label>
                                </td>
                                <td>
                                    <select id="orderArea" class="selectpicker show-tick form-control"
                                            data-live-search="true" data-actions-box="true">

                                        <option value="">请选择品名</option>
                                        <option th:each="c:${orderAreaList}" th:value="${c}"
                                                th:text="${c}"></option>
                                    </select>
                                </td>

                                <td style="text-align: right">
                                    <label>业务员：</label>
                                </td>
                                <td>
                                    <label>
                                        <select id="salorEmp" multiple class="selectpicker show-tick form-control"
                                                data-live-search="true" data-actions-box="true"
                                                data-selected-text-format="count > 2">
                                            <option th:each="c:${salorEmpList}" th:value="${c.id}"
                                                    th:text="${c.name}"></option>
                                        </select>
                                    </label>
                                </td>

                            </tr>
                            <tr>

                                <td style="text-align: right">
                                    <label>制单员：</label>
                                </td>
                                <td>
                                    <label>
                                        <select id="maker" multiple class="selectpicker show-tick form-control"
                                                data-live-search="true" data-actions-box="true"
                                                data-selected-text-format="count > 2">
                                            <option th:each="c:${orderMakerList}" th:value="${c.id}"
                                                    th:text="${c.name}"></option>
                                        </select>
                                    </label>
                                </td>

                                <td>
                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交货时间：</label>
                                </td>
                                <td>
                                    <input type="text" id="deliveryOrderDate"
                                           style="width:140px;height: 34px;text-align: center" class="Wdate"
                                           onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>

                                </td>


                                <td style="text-align: right">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-primary"
                                       href="javascript:void(0);" onclick="queryOrderHeadByCondition()">查找</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-primary"
                                       href="javascript:void(0);" onclick="addSJHead()">新增</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-primary"
                                       href="javascript:void(0);" onclick="importSJHead()">导出</a>
                                </td>
                                <td colspan="3">
                                    <div style="display: none" id="errormessage">

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
            <table class="table table-bordered table-hover table-striped text-center hongmei" id="showlistbody">
                <thead style="background-color:lightsteelblue">
                <tr>
                    <th style="text-align: center"> 序号</th>
                    <th style="text-align: center">
                        <i class="fa fa-sort-asc" onclick="sortByAsc('orderMaker')" aria-hidden="true"></i>
                        制单员
                        <i class="fa fa-sort-desc" onclick="sortByDesc('orderMaker')" aria-hidden="true"></i>
                    </th>

                    <th style="text-align: center">
                        <i class="fa fa-sort-asc" onclick="sortByAsc('customerNo')" aria-hidden="true"></i>
                        客户单号
                        <i class="fa fa-sort-desc" onclick="sortByDesc('customerNo')" aria-hidden="true"></i>
                    </th>
                    <th style="text-align: center">
                        <i class="fa fa-sort-asc" onclick="sortByAsc('getOrderDate')" aria-hidden="true"></i>
                        接单时间
                        <i class="fa fa-sort-desc" onclick="sortByDesc('getOrderDate')" aria-hidden="true"></i>
                    </th>
                    <th style="text-align: center">
                        <i class="fa fa-sort-asc" onclick="sortByAsc('orderArea')" aria-hidden="true"></i>
                        客户国家/地区
                        <i class="fa fa-sort-desc" onclick="sortByDesc('orderArea')" aria-hidden="true"></i>
                    </th>

                    <th style="text-align: center">
                        <i class="fa fa-sort-asc" onclick="sortByAsc('salorEmp')" aria-hidden="true"></i>
                        业务员
                        <i class="fa fa-sort-desc" onclick="sortByDesc('salorEmp')" aria-hidden="true"></i>
                    </th>

                    <th style="text-align: center">
                        <i class="fa fa-sort-asc" onclick="sortByAsc('deliveryOrderDate')" aria-hidden="true"></i>
                        交货时间
                        <i class="fa fa-sort-desc" onclick="sortByDesc('deliveryOrderDate')" aria-hidden="true"></i>
                    </th>

                    <th style="text-align: center">
                        <i class="fa fa-sort-asc" onclick="sortByAsc('remark')" aria-hidden="true"></i>
                        备注
                        <i class="fa fa-sort-desc" onclick="sortByDesc('remark')" aria-hidden="true"></i>
                    </th>

                    <th style="text-align: center">操作</th>
                </tr>
                </thead>
                <tbody id="tabletblody">
                <!--v-for中的数据不再是直接从data中获取，而是通过search方法对data中的数据进行过滤再显示-->
                <div th:unless="${#lists.isEmpty(orderList)}">
                    <div th:each="order,iterStat: ${orderList}" align="center">
                        <tr th:ondblclick="showOrderItemByOrderNo([[${order.customerNo}]])">
                            <td align="center"
                                th:text="${(iterStat.index+1)}+${orderHead.currentPage-1}*${orderHead.pageSize}"></td>
                            <td align="center" th:text="${order.orderMaker}"></td>
                            <td align="center" th:text="${order.customerNo}"></td>
                            <td align="center" th:text="${order.getOrderDateStr}"></td>
                            <td align="center" th:text="${order.orderArea}"></td>
                            <td align="center" th:text="${order.salorEmpStr}"></td>
                            <td align="center" th:text="${order.deliveryOrderDateStr}"></td>
                            <td align="center" th:text="${order.remark}"></td>
                            <td align="center">
                                <a class="btn btn-xs btn-primary"
                                   th:onclick="updateOrderItemByheadId(this,[[${order.id}]]);">编辑</a>
                                <a class="btn btn-xs btn-primary"
                                   th:onclick="deleteOrderItemByheadId([[${order.id}]]);">删除</a>
                                <a class="btn btn-xs btn-primary"
                                   th:onclick="transferDataToPDFFile([[${order.id}]]);">PDF打印</a>
                            </td>
                        </tr>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(orderList)}">
                    <tr>
                        <td colspan="9">
                            查无数据
                        </td>
                    </tr>
                </div>
                </tbody>

                <tfoot id="s_tfoot">
                <tr id="showdiv">

                    <td colspan="9" align="center">
                        <span>第</span>
                        <span th:text="${orderHead.currentPage}" id="currentpagespan"> </span>
                        <span>页|共</span>
                        <span th:text="${orderHead.maxPage}" id="maxpagespan"> </span>
                        <span>页|共</span>
                        <span th:text="${orderHead.recordCount}" id="recordcountspan"> </span>
                        <span>条记录 </span>
                        <span id="image01">
                            <span th:if="${orderHead.currentPage gt 1}">
                                    <img src="/images/page/sy-2.jpg" align="middle" border="0"
                                         style="width: 20px; height: 20px; vertical-align: middle"
                                         onClick="goPageone()"/>
                                    <img src="/images/page/syy-2.jpg" align="middle" border="0" onClick="goPrePage()"
                                         style="width: 20px; height: 20px; vertical-align: middle"/>&nbsp;&nbsp;

                                </span>
                                </span>
                        <span id="image02">
                            <span th:if="${orderHead.currentPage le 1}">
                                <img src='/images/page/l-sy-2.jpg' align='middle' border='0px'
                                     style="width: 20px; height: 20px; vertical-align: middle"/>
                                <img src='images/images/page/l-syy-2.jpg' align='middle' border='0px'
                                     style="width: 20px; height: 20px; vertical-align: middle"/>&nbsp;&nbsp;
                            </span>
                            </span>
                        <span id="image03">
                            <span th:if="${orderHead.currentPage lt orderHead.maxPage}">
                                    <img src="/images/page/xyy-2.jpg" align="middle" border="0" onClick="goAftPage()"
                                         style="width: 20px; height: 20px; vertical-align: middle"/>
                                    <img src="/images/page/my-2.jpg" align="middle" border="0" onClick="goMaxPage()"
                                         style="width: 20px; height: 20px; vertical-align: middle"/>
                            </span>
                                </span>
                        <span id="image04">
                            <span th:if="${orderHead.currentPage ge orderHead.maxPage}">
                                <img src='/images/page/l-xyy-1.jpg' align='middle' border='0px'
                                     style="width: 20px; height: 20px; vertical-align: middle"/>
                                <img src='/images/page/l-my-1.jpg' align='middle' border='0px'
                                     style="width: 20px; height: 20px; vertical-align: middle"/>
                            </span>
                            </span>

                        |&nbsp;到第
                        <input onkeypress="if(event.keyCode==13) {gopage.click();return false;}"
                               style="width: 50px"
                               id="_tp" th:name="currentPage" type="text" th:value="${orderHead.currentPage}"/>
                        页&nbsp;
                        <img src="/images/page/cx-2.jpg" id="gopage" onClick="goPage2()"
                             style="width:20px;height:20px;vertical-align:middle">
                    </td>

                </tr>


                <tr style="display:none;" id="nodatadiv">
                    <td colspan="9" align="center">
                        查无数据
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>


    </body>
</div>
</html>