<!doctype html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>忘记密码</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">

    <script src="/lib/jquery-3.3.1.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/premium.css">

</head>
<body class=" theme-blue">

<!-- Demo page code -->

<script type="text/javascript">
    $(function () {
        window.parent.document.getElementById('content').style.display = "block";
        window.parent.document.getElementById('contentnew').style.display = "none";
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if (match) var color = match[1];
        if (color) {
            $('body').removeClass(function (index, css) {
                return (css.match(/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});

    });

    function alertMessage() {
        alert("如需修改密码请联系管理人员,此功能暂未做!")
    }
</script>
<style type="text/css">
    #line-chart {
        height: 300px;
        width: 800px;
        margin: 0px auto;
        margin-top: 1em;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        color: #fff;
    }

    .panel-body {
        height: 350px;
        width: 400px;
    }
</style>

<script type="text/javascript">
    $(function () {
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
    });
</script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


<!--[if lt IE 7 ]>
<body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>
<body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]>
<body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]>
<body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="" href="mainindex.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> 深圳柯赛标识工程有限公司</span></a>
    </div>

    <div class="navbar-collapse collapse" style="height: 1px;">

    </div>
</div>
</div>


<div class="dialog">
    <div class="panel panel-default">
        <p class="panel-heading no-collapse">忘记密码</p>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" class="form-control span12" id="username" onblur="checkusername()">
                    <div id="usernameerror"></div>
                </div>
                <div class="form-group">
                    <label>手机号码</label>
                    <input type="text"  value="13530657011" id="mobileNum" disabled="disabled" class="form-controlspan12 form-control">
                </div>
                <div class="form-group">
                    <input type="button" value="获取验证码" onclick="getVeriCode()"></input>
                    <p></p>
                    <input type="text" class="form-controlspan12 form-control" id="vericode"
                           onchange="checkvericode">
                    <div id="checkvericode2"></div>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="text" disabled="disabled" class="form-controlspan12 form-control" id="password">
                </div>
            </form>
        </div>
    </div>
    <p><a th:href="@{/account/tologin}">登录</a></p>
</div>


<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function () {
        $('.demo-cancel-click').click(function () {
            return false;
        });
    });

    function getVeriCode() {
        var mobileNum = $("#mobileNum").val();
        alert("汲于发短信需要收费,此功能暂不开发!忘记密码请直接找程序员!")

    }

    var usernameflag = true;
    // 当鼠标不聚焦验证用户名input
    function checkusername() { // 找到id=result_name的div
        var nameObj = document.getElementById("usernameerror"); // 判断用户名是否合法
        var username = $("#username").val();
        var str2 = check_user_name(username);
        nameObj.style.color = "red";
        if ("该用户名合法" == str2) {
            usernameflag = true;
            nameObj.innerHTML = "";
        } else {
            usernameflag = false;
            $("#username").val("")
            nameObj.innerHTML = str2;
        }
        var formData = new FormData();
        formData.append('userName', $("#username").val());
        // if(usernameflag) {
        //     $.ajax({
        //         data: formData,
        //         type: "POST",
        //         url: "/account/getMobileNumByUserName",
        //         async: true,
        //         cache: false,
        //         contentType: false,
        //         processData: false,
        //         success: function (msg) {
        //         if(msg=="" || msg== "null") {
        //             nameObj.innerHTML = "用户名输入错误,系统中不存在此用户名!";
        //             return;
        //         }else{
        //             msg=msg.substr(0,msg.length-1);
        //             msg=msg.substr(1,msg.length-1);
        //             $("#mobileNum").val(msg);
        //             nameObj.innerHTML = "";
        //         }
        //         },
        //         error: function (msg) {
        //             nameObj.innerHTML = "操作发生操误!";
        //         }
        //     });
        // }
    }

    // 检查用户名是否合法    合法就返回"该用户名合法"
    function check_user_name(str) {
        var str2 = "该用户名合法";
        if ("" == str) {
            str2 = "用户名为空";
            return str2;
        } else if ((str.length < 4) || (str.length > 20)) {
            str2 = "用户名必须为4 ~ 20位";
            return str2;
        } else if (check_other_char(str)) {
            str2 = "不能含有特殊字符";
            return str2;
        }
        return str2;
    }
    // 验证用户名是否含有特殊字符
    function check_other_char(str) {
        var arr = ["&", "\\", "/", "*", ">", "<", "@", "!"];
        for (var i = 0; i < arr.length; i++) {
            for (var j = 0; j < str.length; j++) {
                if (arr[i] == str.charAt(j)) {
                    return true;
                }
            }
        }
        return false;
    }


</script>


</body>
</html>
