<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>外出考勤查询</title>
    <script src="/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <meta name="viewport"
          content="
    height = [pixel_value | device-height] ,
    width = [pixel_value | device-width ] ,
    initial-scale = 0.5 ,
    minimum-scale = float_value ,
    maximum-scale = float_value ,
    user-scalable = [yes | no] ,
  "

    />
</head>
<script>

    $(function () {
    });

</script>
<style type="text/css">
    a {
        white-space: nowrap;
    }

    table tr td {
        white-space: nowrap;
    }

</style>
<body>

<div id='app'>
    <form>
        <div class="panel-heading" style="background-color:lightsteelblue;text-align: center">
            <h3 class="panel-title" style="font-size: 30px;color: #2a6496" th:text="${name}+'外出考勤表'"></h3>
        </div>
        <table class="table table-bordered table-hover table-striped text-center hongmei"
               id="showlistbody"
               style="width: 100%">
            <thead style="background-color:lightsteelblue">
            <tr>
                <th style="text-align: center">
                    <font color="black" size="5">序号</font>
                </th>

                <th style="text-align: center">
                    <font color="black" size="5">日期</font>
                </th>

                <th style="text-align: center">
                    <font color="black" size="5">上午考勤记录</font>
                </th>

                <th style="text-align: center">
                    <font color="black" size="5">下午考勤记录</font>
                </th>

                <th style="text-align: center">
                    <font color="black" size="5">晚上考勤记录</font>
                </th>

            </tr>
            </thead>
            <tbody id="tabletblody">
            <!--v-for中的数据不再是直接从data中获取，而是通过search方法对data中的数据进行过滤再显示-->
            <div th:unless="${#lists.isEmpty(outClockInList)}">
                <div th:each="order,iterStat: ${outClockInList}" align="center">
                    <tr>
                        <td style="font-size: 23px;color: #2a6496" align="center"
                            th:text="${(iterStat.index+1)}"></td>
                        <td style="font-size: 23px;color: #2a6496" align="center" th:text="${order.clockInDateStr}"></td>
                        <td style="font-size: 23px;color: #2a6496" align="center"
                            th:text="${order.clockInDateAMOnStr}+${order.clockInAddrAMOn}+',照相:'+${order.amOnUrl}"></td>
                        <td style="font-size: 23px;color: #2a6496" align="center"
                            th:text="${order.clockInDatePMOnStr}+${order.clockInAddrPMOn}+',照相:'+${order.pmOnUrl}"></td>
                        <td style="font-size: 23px;color: #2a6496" align="center"
                            th:text="${order.clockInDateNMOnStr}+${order.clockInAddNMOn}+',照相:'+${order.nmOnUrl}"></td>
                    </tr>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(outClockInList)}">
                <tr>
                    <td colspan="5" style="font-size: 23px;color: #2a6496">
                        暂无外出打卡记录
                    </td>
                </tr>
            </div>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" style="font-size: 23px;color: red">
                        *在人事最终考勤核算中,只有您交了因公外出单,此考勤对人事才有效.
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
    <br>
    <p>
</div>
</body>
</html>