<!doctype html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>忘记密码</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">

    <script src="/lib/jquery-3.3.1.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/premium.css">

</head>
<body class=" theme-blue">

<!-- Demo page code -->

<script type="text/javascript">
    $(function () {
        window.parent.document.getElementById('content').style.display = "block";
        window.parent.document.getElementById('contentnew').style.display = "none";
        var match = document.cookie.match(new RegExp('color=([^;]+)'));
        if (match) var color = match[1];
        if (color) {
            $('body').removeClass(function (index, css) {
                return (css.match(/\btheme-\S+/g) || []).join(' ')
            })
            $('body').addClass('theme-' + color);
        }

        $('[data-popover="true"]').popover({html: true});

    });

    function alertMessage() {
        alert("如需修改密码请联系管理人员,此功能暂未做!")
    }
</script>
<style type="text/css">
    #line-chart {
        height: 300px;
        width: 800px;
        margin: 0px auto;
        margin-top: 1em;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
        color: #fff;
    }

    .panel-body {
        height: 300px;
        width: 400px;
    }
</style>

<script type="text/javascript">
    $(function () {
        var uls = $('.sidebar-nav > ul > *').clone();
        uls.addClass('visible-xs');
        $('#main-menu').append(uls.clone());
    });
</script>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


<!--[if lt IE 7 ]>
<body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>
<body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]>
<body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]>
<body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->

<!--<![endif]-->

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="" href="mainindex.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> 深圳柯赛标识工程有限公司</span></a>
    </div>

    <div class="navbar-collapse collapse" style="height: 1px;">

    </div>
</div>
</div>


<div class="dialog">
    <div class="panel panel-default">
        <p class="panel-heading no-collapse">重置密码</p>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>新密码</label>
                    <input type="text" class="form-control span12" id="password1" onchange="checkpassword()">
                    <div id="passworderror"></div>
                </div>
                <div class="form-group">
                    <label>确认新密码</label>
                    <input type="text" class="form-controlspan12 form-control" id="password2"
                           onchange="checkpassword2()">
                    <div id="passworderror2"></div>
                </div>
                <input type="button" onclick="return saveNewPassword()" ; class="btn btn-primary pull-right"
                       value="确认修改"></input>
            </form>
        </div>
    </div>
    <p><a th:href="@{/account/toMainPage}">返回主页面</a></p>
</div>


<script src="/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript">
    $("[rel=tooltip]").tooltip();
    $(function () {
        $('.demo-cancel-click').click(function () {
            return false;
        });
    });
    var passwordflag = true;
    var passwordflag1 = true;

    function checkpassword() {
        var password = $("#password1").val();
        var passworderr = document.getElementById("passworderror");
        var passworderr2 = document.getElementById("passworderror2");
        var passwordregul = /^[a-zA-Z]\w{4,11}$/;
        if(password=="") {
            $("#password2").val("");
            passwordflag=false;
        }
        if (passwordregul.test(password)) {
            passworderr.innerHTML = "";
            passworderr2.innerHTML = "";
            passwordflag = true;
        } else {
            passworderr.innerHTML = "以字母开头，长度在5~12之间，只能包含字母、数字和下划线";
            passworderr.style.color = "red";
            $("#password1").val("");
            passwordflag = false;
        }
    }

    function checkpassword2() {
        var password = $("#password1").val();
        var password = $("#password1").val();
        var password2 = $("#password2").val();
        var passworderr = document.getElementById("passworderror");
        var passworderr2 = document.getElementById("passworderror2");
        var passwordregul = /^[a-zA-Z]\w{4,11}$/;
        if(password!="") {
            if (passwordflag) {
                if (passwordregul.test(password)) {
                    if (password != password2) {
                        passworderr2.innerHTML = "密码确认错误！";
                        passworderr2.style.color = "red";
                        $("#password2").val("");
                        passwordflag1 = false;
                    } else {
                        passworderr2.innerHTML=""
                        passwordflag1 = true;
                    }
                } else {
                    passworderr.innerHTML = "以字母开头，长度在5~12之间，只能包含字母、数字和下划线";
                    passworderr.style.color = "red";
                    $("#password1").val("");
                    passwordflag1 = false;
                }
            }
        }else{
            $("#password2").val("");
            passworderr2.innerHTML = "请先输入密码再确认！";
            passworderr2.style.color = "red";
            passwordflag1 = false;
        }
    }

    function saveNewPassword() {
        checkpassword()
        checkpassword2()
        if (passwordflag && passwordflag1) {
            window.location.href="/account/saveNewPassword?newPassword="+$("#password1").val();
            return true;
        } else {
            return false;
        }
    }
</script>


</body>
</html>
