<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>打卡</title>
    <script src="/lib/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

</head>
<script>
    var l_timestamp;
    var l_noncestr;
    var l_signature;
    var appid;
    var wx;
    var openId;
    $(function () {
        //自动获取url
        var url = location.href.split('#').toString();//url不能写死
        var bean = $("#bean").val();
        var path = "http://homey.nat100.top/weixin/getMobileLocateReal";
        $.post(path, {wxurl: url, bean: bean}, function (data) {
            var data = JSON.parse(data);
            l_timestamp = data[0];
            l_noncestr = data[1];
            l_signature = data[2];
            appid = data[4];
            openId = data[5];
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: appid, // 必填，公众号的唯一标识
                timestamp: l_timestamp, // 必填，生成签名的时间戳，上文通过后台获取的
                nonceStr: l_noncestr, // 必填，生成签名的随机串，上文通过后台获取的
                signature: l_signature,// 必填，签名，上文通过后台获取的
                jsApiList: ['getLocation', 'openLocation'] // 必填，需要使用的JS接口列表，就是下文的分享朋友圈和转发给朋友的列表
            });
        });
    });


    wx.ready(function () {
        wx.checkJsApi({
            jsApiList: [
                'getLocation', 'openLocation'
            ],
            success: function (res) {
                // alert(JSON.stringify(res));
                // alert(JSON.stringify(res.checkResult.getLocation));
                if (res.checkResult.getLocation == false) {
                    alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                    return;
                }
            }
        });
        wx.error(function (res) {
            alert("接口调取失败")
        });
        wx.getLocation({
            type: 'gcj02',
            success: function (res) {
                var locate = JSON.stringify(res);
                var jsonarray = {
                    "latitude": res.latitude,
                    "longitude": res.longitude,
                    "openId": openId
                    //"id":1
                };
                var data = JSON.stringify(jsonarray);
                $.ajax({
                        data: data,
                        type: "POST",
                        contentType: "application/json",//上传内容格式为json结构
                        url: "http://homey.nat100.top/weixin/punchClock",
                        success: function (msg) {
                            var dataa = eval(msg);//将msg化为数;
                            if (dataa[0].isClock == "0") {
                                wx.openLocation({
                                    latitude: res.latitude, // 纬度，浮点数，范围为90 ~ -90
                                    longitude: res.longitude, // 经度，浮点数，范围为180 ~ -180。
                                    name: '打卡位置(打卡成功)', // 位置名
                                    address: dataa[0].address, // 地 址详情说明
                                    scale: 15, // 地图缩放级别,整形值,范围从1~28。默认为最大
                                    infoUrl: 'http://www.cosunsign.com/page/gyks.html' // 在查看位置界面底部显示的超链接,可点击跳转（测试好像不可用）
                                });
                            } else {
                                alert("已打过卡,不允许重复打卡.")
                            }
                        },
                        error: function (msg) {

                        }
                    }
                );
                //window.location.href = "http://homey.nat100.top/weixin/punchClock?latitude=" + res.latitude + "&longitude="
                //   + res.longitude + "&openId=" + openId;
            },
            cancel: function (res) {
                alert('用户拒绝授权获取地理位置');
            }
        });


    });

</script>
<body>
<input type="hidden" id="appId" th:value="${appId}">
<input type="hidden" id="l_timestamp" th:value="${l_timestamp}">
<input type="hidden" id="l_noncestr" th:value="${l_noncestr}">
<input type="hidden" id="l_signature" th:value="${l_signature}">
<input type="hidden" id="requestOri" th:value="${requestOri}">
<input type="hidden" id="bean" th:value="${bean}">

</body>
</html>